* {
  font-family: sans-serif;
}
body {
  margin: 0;
}
main {
  margin: 3rem 10rem;
}
section {
  min-height: 30rem;
}
section p {
  line-height: 1.5rem;
}
div.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  justify-items: center;
  margin: 3rem 0 2rem 0;
}
.form {
  border-radius: 0.5rem;
  min-width: 50%;
  max-width: 60%;
  text-align: center;
  border: 2px solid grey;
  padding: 1rem;
}
.input-box {
  text-align: center;
}
.input-box label {
  font-size: 1.1rem;
}
.input-box input {
  display: block;
  font-size: 1.3rem;
  border: 2px solid grey;
  border-radius:5px;
  padding: 0.5rem 1.25rem;
  margin-top: 0.3rem;
}
.input-box select {
  display: block;
  font-size: 1.3rem;
  border: 2px solid grey;
  border-radius:5px;
  padding: 0.5rem 1.25rem;
  margin-top: 0.3rem;
  width: 18.5rem;
}
.input-box input:focus, .input_box select:focus{
  outline: none;
  border-color: #03a9f4;
}
.input-box input.submit {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: auto;
}
.input-box input.submit:hover {
  /*inserire */
}
/*forse va eliminato??? */
.connected > p {
  color: #00D42A;
}
/*forse va eliminato??? */
.error > p {
  color: red;
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #2C8C84;
}
.title {
  margin-left: 3rem;
}
.title > h1 {
  color: white;
  letter-spacing: 0.25rem;
}
nav {
  display: flex;
  background-color: #2C8C84;
}
.box-login {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2rem;
}

ul.nav > li {
  display: inline;
  margin: 0.50rem;
}
.nav-link {
padding: 0.25rem 0.50rem;
text-decoration: none;
color: rgba(255, 255, 255, 0.7);
border-radius: 5px;
font-size: 1.10rem;
font-weight: 600;
}
.nav-link:hover {
  color: white;
}
.nav-link:active {
  color: white;
}
.login {
  padding: 0.5rem 0.90rem;
  text-decoration: none;
  color: #F3AD16;
  border: 1px solid #F3AD16;
  border-radius: 5px;
  font-size: 1.30rem;
  font-weight: 600;
}
.login:hover {
  background-color: #F3AD16;
  color: black;
}
/* #475050 */
footer {
  background-color:#475050;
  color: white;
  min-height: 10rem;
  display: flex;
  align-items: center;
}
.footerstring {
  margin: 0 auto;
  text-align: center;
}
.sociallogo {
  height: 2.5rem;
  width: auto;
}
/*layout visualizzazione record libri */
.books-table {
  background-color: #34495E;
  border-radius: 1rem;
  overflow: hidden;
}
.books-table > tr {

}
.books-table th {
  text-align: left;
  color: #F3AD16;
  padding: 1rem;
}
.books-table td {
  color: #fff;
  padding: 1rem;
}
